table{
    margin-top: 100px;
    width: 100%;
}

table, tr , th {
    border: 1px solid black;
    display: none;
}

button{
    align-self: center;
}
#buttons{
    float: left;
}

.chart-container{
    float: left;
}
